/* AboutUs.css */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


.about-section h2 {
    text-align: left;
    margin-top: 50px;
    font-size: 3em;
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-text {
    flex: 1;
    padding-right: 20px;
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1s ease-in-out;
}

.about-image {
    flex: 1;
    max-width: 500px;
    opacity: 0;
    transform: translateX(50px);
    transition: all 1s ease-in-out;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-section.animate .about-text,
.about-section.animate .about-image {
    opacity: 1;
    transform: translateX(0);
}

p {
    margin-bottom: 20px;
}

.about-section {
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 0 10px rgba(134, 6, 253, 0.2);
    margin-bottom: 30px;
}



